body{
  background-color: black;
  color: white;
}

.user{
  border-width: 5px;
  border-style: solid;
  border-color: red;
  padding: 10px;
  max-width: fit-content;
}

.delete{
background-color: #C60C0C;
}
